* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body {
    display: flex;
    flex-direction: column;
    background-color: #7FA480;
    /* use padding */
}

header {
    display: flex;
    justify-content: center;
    /* border: solid 2px blue; */
    height: 200px;
    padding-top: 120px;
}

main {
    display: flex;
    flex-direction: row;
    /* flex: 10; */
    /* border: solid 2px blue; */
    gap: 8px;
    height: 550px;
    padding: 10px;

}


footer {
    /* flex: 2; */
    /* border: solid 2px blue; */
    text-align: center;
    height: 70px;
    padding: 10px;
}

.instruction {
    display: flex;
    flex: 2;
    /* border: solid 2px red; */
    justify-content: right;
    padding: 5px;
}

.screenAndControl {
    display: flex;
    flex-direction: column;
    flex: 2;
    /* border: solid 2px red; */
    gap: 5px;
    width: 530px;
}
.screen {
    display: flex;
    /* border: solid 2px yellow; */
    height: 402px;
    width: 530px;
    background: url(./images/screenwithoutbackground_v3.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:0px 0px, 15px 7px;
    position: relative;
}

#sky {
    background: url(./images/sky-cropped.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 380px;
    width: 500px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: -10;
    opacity: .9;
    background-color: white;
}

#sungif {
    background: url(./images/sun_v2.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 180px;
    width: 180px;
    position: absolute;
    top: 15px;
    left: 5px;
    z-index: -5;
}

#pot {
    background: url(./images/sprout.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 230px;
    width: 200px;
    position: absolute;
    top: 180px;
    left: 250px;
    border-radius: 20px;
}




.control {
    display: flex;
    justify-content: space-evenly;
    /* border: solid 2px yellow; */
    width: 530px;
}


.control button{
    padding: 5px;
    background-color: white;
    border: #3b5f3c 2px;
}

.dataBox {
    display: flex;
    flex-direction: column;
    flex: 2;
    /* border: solid 2px red; */
    gap: 3px;
}

.dataBox .growingDatas {
    display: flex;
    flex: 1;
    /* border: solid 2px green; */
}

.dataBox .message {
    display: flex;
    flex: 3;
    /* border: solid 2px green; */
}

ul {
    list-style: none;
    padding: 5px;
}












