* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(193, 179, 141);
    /* use padding */
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    /* border: solid 2px blue; */
    height: 200px;
    padding-top: 120px;
}

main {
    display: flex;
    flex-direction: row;
    /* flex: 10; */
    /* border: solid 2px blue; */
    /* gap: 8px; */
    height: 600px;
    width: 1100px;
    margin-top: 20px;
}


footer {
    /* flex: 2; */
    /* border: solid 2px blue; */
    text-align: center;
    height: 70px;
    padding: 10px;
}


.screenAndDataBox {
    display: flex;
    flex-direction: column;
    /* flex: 2; */
    border: solid 2px red;
    width: 600px;
}
.screen {
    /* display: flex; */
    border: solid 2px yellow;  
    position: relative;
    height: 460px;
    width: 600px;
    background-color: rgb(193, 179, 141);
    z-index: -20;
    /* box-shadow: 0 30px 40px rgba(239, 244, 233, 0.9); */
}

.dataBox {
    display: flex;
    height: 130px;
    /* flex-direction: column; */
    /* flex: 2; */
    /* padding: 5px; */
    /* margin-top: 20px; */
    /* border: solid 2px red; */
}

.dataBox .growingDatas {
    /* display: flex; */
    width: 40%;
    border: solid 2px #dbf2dc;
    background-color: #7fa480;
    margin: 10px;
}

.dataBox #messages {
    /* display: flex; */
    border: solid 2px #dbf2dc;
    background-color: #7fa480;
    width: 60%;
    margin: 10px;
    
}

ul {
    list-style: none;
    padding: 5px;
}


.control {
    /* display: flex; */
    /* justify-content: center; */
    border: solid 2px red;
    /* flex: 2; */
    width: 210px;
    margin-left: 20px;
}

.control button{
    padding: 5px;
    margin: 20px;
    background-color: #7fa480;
    border: solid white 3px;
    color: white;
    border-radius: 10px;
    display: block;
    
}

.instruction {
    /* display: flex; */
    border: solid 2px red;
    text-align: right;
    padding: 5px;
    width: 210px;
    margin-right: 20px;
}




#window{
    background: url(./images/screenwithoutbackground_v3.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 460px;
    width: 600px;
    border: blue 2px solid;
    /* position: absolute; */
    /* top: 20px;
    left: 30px; */
}

#sky {
    background: url(./images/sky-cropped.jpeg);
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 480px;
    width: 600px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: -8;
    opacity: .9;
}

#storm {
    background: url(./images/thumder.gif);
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: contain;
    height: 480px;
    width: 580px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: -6;
    display: none;
}

#blackLayer{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    height: 460px;
    width: 600px;
    z-index: 0;
    opacity: .5;
    display: none;
}

#potGif {
    background: url(./images/sprout-pot-only.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 250px;
    position: absolute;
    top: 165px;
    left: 270px;
    z-index: 5;
}

#sproutGif {
    background: url(./images/sprout-sprout.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 250px;
    position: absolute;
    top: 165px;
    left: 270px;
    z-index: 7;
    display: none;
}

#sproutDeadGif {
    background: url(./images/sprout-sprout-dead.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 250px;
    position: absolute;
    top: 165px;
    left: 270px;
    z-index: 8;
    display: none;
}


#leavesGif {
    background: url(./images/sprout-leaves.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 250px;
    position: absolute;
    top: 165px;
    left: 270px;
    z-index: 10;
    display: none;
}


#leavesDeadGif {
    background: url(./images/sprout-leaves-dead.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 250px;
    position: absolute;
    top: 165px;
    left: 270px;
    z-index: 11;
    display: none;
}

#flowerGif {
    background: url(./images/sprout-flowers.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 352px;
    width: 270px;
    position: absolute;
    top: 121px;
    left: 250px;
    z-index: 20;
    display: none;
}

#sunGif {
    background: url(./images/sun_v2.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    position: absolute;
    top: -20px;
    left: 2px;
    z-index: -5;
    display: none;
}

#wateringCanGif {
    background: url(./images/watercan5.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 200px;
    position: absolute;
    top: 50px;
    left: 150px;
    display: none;
    z-index: 20;
}
#pesticideGif {
    background: url(./images/pesticide-repeat.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 310px;
    width: 230px;
    position: absolute;
    top: 150px;
    left: 450px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: none;
}

#fertilizerGif {
    background: url(./images/fertilizer-repeat.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 250px;
    position: absolute;
    top: 100px;
    left: 280px;
    display: none;
    z-index: 20;
}

#butterfly {
    background: url(./images/butterfly3.gif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
    position: absolute;
    top: -60px;
    left: 200px;
    z-index: 10;
    display: none;
}













